.vd{
    height: 600px;
}

.ride{
    /* border: 1px solid red; */
    text-align: center !important;
    background: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
}
.ride img{
    height: 250px;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
}