.form-style{
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid salmon;
    border-radius: 2%;
}
h1 {
    font-weight: 100;
    /* color: white; */
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  .altr-btn{
    cursor: pointer;
    font-size: 20px;
  }
  .altr-btn:hover{
    color: green !important;
  }

  p {
    color: #bf1650;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  } 
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    /* border-radius: 4px; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    padding: 10px 15px;
    margin-top: 20px !important;
    font-size: 14px;
  }
  button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}
button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 15px;
  }
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .google-button{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px 40px;
    border:1px solid gray;
    border-radius: 25px;
    width: 400px;
  }